.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.ql-container {
  border: none;
}

.ql-toolbar {
  border: none;
}

 .ql-editor {
  border: none;
  border-radius: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 1.58;
  overflow-y: hidden; 
  letter-spacing: -.003em;
  outline: none; /* Remove outline when editor is focused */
}

#viewer .ql-editor {
  font-size: 15px;
}

#editor  .ql-editor {
  min-height: 4vh; /* Optional: Set a minimum height */
  overflow-y: hidden; /* Hide vertical scrollbar */
  position: relative; /* Necessary for the scrolling effect */
  padding-bottom: 40px;
}

/* Heading styles and animations */
.heading {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.heading.visible {
  opacity: 1;
}